.header {
  margin-bottom: 50px;
}

#map {
  max-width: 1000px;
  margin: 0 auto;
  stroke: white;
  stroke-width: 1;

  .class-0 {
    fill: cornsilk;
  }

  .class-1 {
    fill: wheat;
  }

  .class-2 {
    fill: yellow;
  }

  .class-3 {
    fill: gold;
  }

  .class-4 {
    fill: orange;
  }

  .class-5 {
    fill: red;
  }

  .class-6 {
    fill: brown;
  }

  .class-7 {
    fill: black;
  }
}
