.header {
  margin-bottom: 50px;
}

.date-and-type {
  margin-bottom: 50px;

  label {
    margin: 0px 4px;
  }

  .date-picker {
    margin-right: 10px;
  }
}

#map {
  max-width: 1000px;
  margin: 0 auto;
  stroke: #fff;
  stroke-width: 1;

  .class-0 {
    fill: #FFD9D9;
  }

  .class-1 {
    fill: #FFB9B9;
  }

  .class-2 {
    fill: #FF9F9F;
  }

  .class-3 {
    fill: #FF8C8C;
  }

  .class-4 {
    fill: #FF7F7F;
  }

  .class-5 {
    fill: #CC5959;
  }

  .class-6 {
    fill: #993939;
  }

  .class-7 {
    fill: #662020;
  }

  .class-8 {
    fill: #330D0D;
  }
}
